* {
    margin: 0;
    padding: 0;
}

article {
    margin-top: 70px;
    margin-bottom: 300px;
}

h2,
h1 {
    text-align: center;
    margin: 30px 30px;
    color: #1e5555;
    animation-duration: 1s;
    animation-name: slidein;
}

h3 {
    color: rgb(206, 164, 87);
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 240, 227);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 80%;
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/********************************** HEADER ******************************************/
.entete {
    background: url(https://bm.dijon.fr/ui/skins/VDJN/images/PhotoBM/10.png);
    margin: 0;
    padding: 0;
    background-color: rgb(250, 240, 227);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 100%;
    scroll-behavior: smooth;
    min-height: 40vh;
    width: 100vw;
    height: 100px;
    overflow-x: hidden;
}

.entete .element_login ul {
    margin: 10px 10px;
    float: right;
}

.entete .element_login ul li {
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: #2F4F4F;
    height: 70px;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slidein;


}

.entete ul li:hover {
    background-color: white;
    color: black;
}

.entete ul li a {
    white-space: nowrap;
    height: 70px;
    line-height: 20px;
    color: inherit;
    text-decoration: inherit;
    justify-content: center;
    margin: 0 auto;
}

.entete .menu {
    justify-content: center;

}

#searchbar {
    position: relative;
    width: 1050px;
    margin: auto;
    height: 80px;
    margin-top: 80px;
}

.formulaire input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    height: 60px;
}

.formulaire {
    display: inline-block;
}

.formulaire .champ {
    width: 600px;
    height: 40px;
}

.formulaire input[type=submit] {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 60px;
    background-color: black;
    color: white;

}

.formulaire .bouton:hover {
    background: #1e5555;
}

.menu .unlisted {
    justify-content: center;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    color: white;
}

/******************************************* INDEX  ***********************************************/
.info a,
.info_admin #lien_admin {
    white-space: nowrap;
    color: inherit;
    text-decoration: inherit;
    animation-duration: 1s;
    animation-name: slidein;
}

.info .lien
 {
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: black;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slidein;
    width: 100px;
    height: 30px;
}

.info .lien:hover,
.info_admin .lien_admin:hover,
.info_admin #lien_admin:hover {
    background-color: white;
    color: black;
}

.article_presse .info_presse img,
.article_livre .info_livre img,
.articles_index .classement img,
.article_music .info_music img,
.article_cinema .info_cinema img,
.article_presse .info_presse img {
    width: 250px;
    height: 300px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.article_presse .info_presse img:hover,
.article_livre .info_livre img:hover,
.articles_index .classement img:hover,
.article_music .info_music img:hover,
.article_cinema .info_cinema img:hover,
.article_presse .info_presse img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.article_presse .info_presse,
.article_livre .info_livre,
.articles_index .classement,
.article_music .info_music,
.article_cinema .info_cinema,
.article_presse .info_presse,
.article_contact .info_contact {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 50px;


}

.articles_index .classement .info_article,
.article_livre .info_livre,
.article_presse .info_presse {
    flex-wrap: wrap;


}

.articles_index .info_article {
    margin-top: 100px;
}

.articles_index .classement .info_article .tout img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/************************************* SLIDE INDEX ****************************************** */
* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    margin: 50px 50px;
    position: relative;
    height: 300px;
    width: 1000px;

}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

#container {

    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
}

/* Bordered form */
.form_inscri {
    margin: 40px;
    padding: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation-duration: 1s;
    animation-name: slidein;


}

/**************************************LOGIN LOGOUT************************************ */

#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: black;
    text-align: center;
}

/* Full-width inputs */
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.form_inscri input[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form_inscri input[type=submit]:hover {
    background-color: white;
    color: black;
}

/*************************************************CONTACT********************************************************** */
.article_contact input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

.article_contact label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.article_contact input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;

}

/**************************************ADMIN******************************************** */

table {
    border-collapse: collapse;
}

td {

    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 10px;

}

tr {
    margin: 0;
}



.article_admin .button_admin {
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-style: italic;
    font-size: small;
    padding: 10px 10px;
    margin: 20px 20px;
    border: none;

}

.button_add,
.retour {
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: black;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slidein;
  
  
}

.button_add:hover {
    background-color: black;
    color: white
}

form .retour a {
    white-space: nowrap;
    color: inherit;
    text-decoration: inherit;

}

.merci {
    color: green;
    font-size: large;
    text-align: center;
}

.error {
    color: red;
    font-size: small;
}

.button_admin a {
    white-space: nowrap;
    line-height: 30px;
    color: inherit;
    text-decoration: inherit;
    width: 20%;
}

.div-admin {
    width: 300px;
}
.button_liste{
    background-color: black;
    color: white;
}
#emprunt{
    width: 50px;
}

/*******************************************FOOTER*************************************************/
footer {
    height: 70px;
    display: flex;
    padding: 5px;
    background-color: black;
}

footer nav ul a {
    float: right;
    margin-right: 150px;
    color: white;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}